.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-image {
  width: 150px;
}

.heading-contact {
  font-family: 'Roboto';
  font-weight: 500;
  color: #6d396b;
}

@media (min-width: 576px) {
  .heading-contact {
    font-size: 48px;
  }
}
